<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
<meta charset="UTF-8">
<title>Advisor Registration</title>
<link rel="stylesheet" href="{% static 'css/advisor-register.css' %}">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="register-container">

    <h2>🧠 Advisor Registration</h2>
    <p>Join as an Agricultural Advisor</p>

    <form id="advisorForm" method="POST">
    {% csrf_token %}


        <input type="text" id="fullName" name="fullName" placeholder="Full Name" required>

        <input type="email" id="email" name="email" placeholder="Email Address" required>

        <input type="tel" id="phone" name="phone" placeholder="Phone Number" required>

        <input type="text" id="specialization" name="specialization" placeholder="Specialization (e.g Pest Control)" required>

        <textarea id="bio" name="bio" placeholder="Short Professional Bio" required></textarea>

        <input type="password" id="password" name="password" placeholder="Create Password" required>

        <button type="submit">Register</button>

    </form>

    <p id="message"></p>

</div>

<script src="{% static 'js/advisor-register.js' %}"></script>
</body>
</html>